* {
    box-sizing: border-box;
}

.account{
    /* display:none; */
    background-color: white;
    height: 60px;
    width: 70px;
    position: relative;
    margin:10px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 2.5vw;
    display: flex;
    align-items: center;
}

.AccountCircleIcon{
  color: black;
  background-color: transparent;
 
}

.ArrowDropDownIcon{
    position:absolute;
    right:5px;
    top: 15px;
    background-color: white;
    font-size: large;

}

.account:hover{
    background-color: rgb(113, 109, 109);
}