  * {
    box-sizing: border-box;
    background-color: black;
  }



  .headBar {
    position:relative;
    width: 90%;
    height: 70px;
    margin-left: 5vw;
    font: 200;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    
  }

    
    

  .pageOption{
    display:inline;
    border-radius: 10px;
    top:30%;
    position:absolute;
    width: 200px;
  }
   
    

 

  .ArrowDropDownIcon {
    position: absolute;
    right: 5px;
    top: 20px;
    background-color: transparent;
    font-size: large;
  }


  .videoList{
    margin-left: 6vw;
    margin-top: 25px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }


  .bar{ 
    display: flex;
    gap:20px;
  }
   
   

  .bar>img{
    height: 120px;
    width:180px;
    border-radius: 5px;
  }

  .bar>.text{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    width: 650px;
    overflow: hidden;

  }
   
   

  .bar>.text>.title{
    color: white;
    font-weight: 100;
    font-size: small;
    writing-mode: horizontal-tb;
    transform: none;
    width: 100%;
    overflow: hidden;
    
  }

  .channel{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: none;
    width: 250px;
  }

  .channel>p{
  
    font-size: small;
  }

   

  .DeleteIcon
   {
      margin-top: 5%;

  }